<!DOCTYPE html>
{%load static%}
<html>
	<head>
		<title>{% block titulo %} {% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/base.css' %}">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

		<script type="text/javascript">
			function abrirVentana(url, config){
				window.open(
			    	url,
			    	'',
			    	config
		   		)
			}

			function confirmar(mensaje, url){
				var advertencia = window.confirm(mensaje);
				if (advertencia){
					window.location.href= url
				}
			}

		</script>

		{% block styles %}
		{% endblock %}
	</head>
	<body>
		<ul class="menu">
			
			<a href="{% url 'home'%}" class= "Escudo" ><img style="width: 123px;height: 116px;" src="/static/imagenes/Escudo_PFA.png"></a>
			
			<li class="Izquierdo"> <a href="{% url 'listaPFA'%}"> Oficiales </a> </li>
			<li class="Izquierdo"> <a href="{% url 'informacion'%}"> Informacion </a> </li>				
			<li class="Izquierdo"> <a href="{% url 'home'%}"> Inicio </a> </li>

		</ul>
		{% block contenido%}
		{% endblock%}
	</body>
</html>