{% extends 'pfaHtml/base.html'%}
{% load static %}
{% block titulo %} Bienvenido a la PFA{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/horarios-css/base.css' %}"> 
{% endblock %}

{% block contenido %}
	<div class="botonera ">
		
		<button class="botones elementos-botonera" onclick="return confirmar('Estas seguro de borrar todas las horas?' ,'{% url 'borrar_info' %}')"> Borrar toda la informacion</button>
			
	    <button class="botones elementos-botonera" onclick="return abrirVentana( '{%url 'historial' %}', 'width=1000,height=550,left=350,top=50,toolbar=yes');"> 
	    	Ver historial de horas 
	    </button>

	    <input type="button" value="Nueva carga horaria" class="botones elementos-botonera" onclick="javascript:window.open(
	    	'Informacion/nueva_carga_horaria',
	    	'',
	    	'width=719,height=625,left=350,top=50,toolbar=yes'
	    );" />
	</div>
	<div style="float: right;">
		<div style="font: bold Helvetica; font-size: 24px; width:80%;">
			<b >Busque las horas de una fecha en particular:</b>
		</div>
		<form method="get">
			<div class="input-group col-md-12">
				<input type="date" name="fecha" >
				<span class="input-group-list">
					<button type="sumbit" class="botones"> Buscar</button>
				</span>
			</div>
		</form>
	</div>
	    <!-- BARRA DE BUSQUEDA A IMPLEMENTAR
	    <div>
		    <form method="get">
		    	<div class="input-group col-md-12">
		    		<input type="text" class= "form-control busqueda" placeholder="Buscar oficial..." name="buscar">
		    		<span class="input-group-list">
		    			<i class="icon icon-search"></i>
		    			<button type="submit" class="botones">Buscar</button>
		   			</span>
		    	</div>
		    </form>
	    </div>
		-->
	   <div class="prueba">
	    <table class="tabla_separada" border="2">
		    	
	    	<tbody>
	    		<tr>
		    		<th> Nombre apellido </th>
		    		<th> Rango </th>
		    		<th> Horas Totales </th>
		    		<th> Monto </th>
		    		<th> Dias en la PFA </th>
		    		<th> Borrar </th>
	    		</tr>
				
				{% for f in final %}
			    <tr>
			    	<td>{{ f.0.nombre }} {{ f.0.apellido }}</td>
			    	<td>{{ f.0.rango }}</td>
			    	<td> {{f.2.0}}:{{f.2.1}} </td>
			    	<td> $ {{f.1}}</td>
			    	<td>{{f.0.dias_PFA}}</td>
			    	<td> <i class="fas fa-trash-alt delete" onclick="return confirmar('Estas seguro de borrar todas las horas de este oficial?' ,'{% url 'borrar' pk=f.0.pk %}')"></i></td>
				   	
			    </tr>
			    {% endfor %}	
			       			    
	    	</tbody>
	    </table>
	   </div>

{% endblock %}