{% extends 'pfaHtml/base.html'%}
{% load static %}
{% block titulo %} Bienvenido a la PFA{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/horarios-css/base.css' %}"> 
{% endblock %}

{% block contenido %}
		<div class="botonera">
			<a href="{% url 'borrar_info' %}"> <button class="botones elementos-botonera"> Borrar toda la informacion</button></a>
			
		    <input type="button" value="Ver historial de horas" class="botones elementos-botonera" onclick="javascript:window.open(
		    	'Historial_Horas',
		    	'',
		    	'width=800,height=900,left=350,top=50,toolbar=yes'
		    );" />

		    <input type="button" value="Nueva carga horaria" class="botones elementos-botonera" onclick="javascript:window.open(
		    	'Informacion/nueva_carga_horaria',
		    	'',
		    	'width=300,height=300,left=350,top=50,toolbar=yes'
		    );" />
		</div>
	    <!-- BARRA DE BUSQUEDA A IMPLEMENTAR
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12 search">
	    			<form method="get">
	    				<div class="input-group col-md-12">
	    					<input type="text" class= "form-control" placeholder="Buscar..." name="buscar">
	    					<span class="input-group-list">
	    						<i class="icon icon-search"></i>
	    						<button type="submit" class="boton btn-success">Buscar</button>
	    					</span>
	    				</div>
	    			</form>
	    			
	    		</div>
	    	</div>
	    </div>
		-->
	    <div class="prueba">
		    <table class="tabla_separada" border="2">
		    	
		    	<tbody>
		    		<tr>
			    		<th> Nombre apellido </th>
			    		<th> Rango </th>
			    		<th> Horas Totales </th>
			    		<th> Monto </th>
			    		<th> Dias en la PFA </th>
			    		<th> Borrar </th>
		    		</tr>
					
					{% for f in final %}
				    <tr>

				    	<td>{{ f.0.nombre }} {{ f.0.apellido }}</td>
				    	<td>{{ f.0.rango }}</td>
				    	<td> {{f.2.0}}:{{f.2.1}} </td>
				    	<td> $ {{f.1}}</td>
				    	<td>{{f.0.dias_PFA}}</td>
				    	<td> <a href="{% url 'borrar' pk=f.0.pk %}"> <i class="fas fa-trash-alt delete"></i></a></td>
				   	
				    </tr>
				    {% endfor %}	
				       			    
		    	</tbody>
		    </table>
	    </div>

{% endblock %}