{% extends 'pfaHtml/base.html'%}
{%load static%}

{% block titulo %} Bienvenido a la PFA {% endblock %}

{% block styles %} 
	<link rel="stylesheet" href="{% static 'css/policia-css/base.css' %}"> 


{% endblock %}
{% block contenido %}
	
	
	<div class="contenedor">
	    <!-- Barra de busqueda -->

	   <div>
		    <form method="get">
		    	<div class="input-group col-md-12">
		    		<input type="text" class= "form-control busqueda" placeholder="Buscar oficial..." name="buscar">
		    		<span class="input-group-list">
		    			<i class="icon icon-search"></i>
		    			<button type="submit" class="botones">Buscar</button>
		   			</span>
		    	</div>
		    </form>
	    </div>
    

		<!-- Boton añadir -->
		<input type="button" value="Añadir un nuevo policia" class="añadir-policia" onclick="return abrirVentana('{%url 'nuevo_policia'%}', 'width=719,height=625,left=350,top=50,toolbar=yes');" />

	</div>

    <!-- Tabla de oficiales con botonera B/M -->

    <div>
	    <table class="tabla_separada" border="2">	
	    	<tbody>
	    		<tr>
		    		<th> Nombre  apellido </th>
		    		<th> Rango </th>
		    		<th> Modificar </th>
	    		</tr>
				
				{% for oficial in pfa|slice:":14" %}
			    <tr>

			    	<td>{{ oficial.nombre }} {{ oficial.apellido }}</td>
			    	<td>{{ oficial.rango }}</td>
			    	<td>
			    		<i class="fas fa-edit edit" onclick= "return abrirVentana('{%url 'editar_policia' pk=oficial.pk %}', 'width=719,height=625,left=350,top=50,toolbar=yes');">Editar</i>
			 
			   			<i class="fas fa-trash-alt delete" onclick="return confirmar('Estas seguro de borrar a este policia?' ,'{% url 'borrar_policia' pk=oficial.pk %}')"></i>
			    		
			    	</td>	
			   	
			    </tr>
			    {% endfor %}	
			       
			    
	    	</tbody>
	    </table>
    </div>
    

{% endblock %}